*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  min-width: 0;
  margin: 0;
}

html,
body {
  height: 100%;

  --clr-primary: hsl(256, 67%, 59%);
  --clr-primary-light: hsl(254, 88%, 90%);
  --clr-secondary: hsl(39, 100%, 71%);
  --clr-secondary-light: hsl(31, 66%, 93%);
  --clr-light: hsl(0, 0%, 100%);
  --clr-dark: hsl(0, 0%, 7%);

  --fs-base: 1.125rem;

  --ff-primary: "DM Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 500;

  background-color: hsl(0, 0%, 97%);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-primary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.main-container {
  height: 100dvh;
  height: 100vh;
  width: 100%;
  padding: 5% 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2rem;

  /* alternative way: */
  /* grid-template-areas:
    "item-1 item-2 item-2 item-3"
    "item-1 item-2 item-2 item-3"
    "item-1 item-2 item-2 item-3"
    "item-1 item-2 item-2 item-3"
    "item-1 item-4 item-5 item-3"
    "item-6 item-4 item-5 item-3"
    "item-6 item-4 item-5 item-3"
    "item-6 item-7 item-8 item-8"
    "item-6 item-7 item-8 item-8"
    "item-6 item-7 item-8 item-8"; */
}

.main-container div {
  border-radius: 1rem;
}

.item-1 {
  background-color: var(--clr-secondary-light);
  grid-column: 1 / 2;
  grid-row: 1 / 6;

  /* alternative way: */
  /* grid-area: item-1; */
}

.item-2 {
  background-color: var(--clr-primary);
  grid-column: 2 / 4;
  grid-row: 1 / 5;

  /* alternative way: */
  /* grid-area: item-2; */
}

.item-3 {
  background-color: var(--clr-primary-light);
  grid-column: 4 / 5;
  grid-row: 1 / 8;

  /* alternative way: */
  /* grid-area: item-3; */
}

.item-4 {
  background-color: var(--clr-light);
  grid-column: 2 / 3;
  grid-row: 5 / 8;

  /* alternative way: */
  /* grid-area: item-4; */
}

.item-5 {
  background-color: var(--clr-secondary);
  grid-column: 3 / 4;
  grid-row: 5 / 8;

  /* alternative way: */
  /* grid-area: item-5; */
}

.item-6 {
  background-color: var(--clr-secondary);
  grid-column: 1 / 2;
  grid-row: 6 / 11;

  /* alternative way: */
  /* grid-area: item-6; */
}

.item-7 {
  background-color: var(--clr-light);
  grid-column: 2 / 3;
  grid-row: 8 / 11;

  /* alternative way: */
  /* grid-area: item-7; */
}

.item-8 {
  background-color: var(--clr-primary);
  grid-column: 3 / 5;
  grid-row: 8 / 11;

  /* alternative way: */
  /* grid-area: item-8; */
}

@media (max-width: 375px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
    padding: 1.5rem 1rem 0rem 1rem;
  }

  .main-container div {
    border-radius: 0.5rem;
  }

  .item-1 {
    grid-row: 7;
    height: 12.5rem; /* 20vh */
  }

  .item-2 {
    grid-row: 1;
    height: 15.625rem; /* 25vh */
  }

  .item-3 {
    grid-row: 4;
    height: 25rem; /* 40vh */
  }

  .item-4 {
    grid-row: 2;
    height: 7.5rem; /* 12vh */
  }

  .item-5 {
    grid-row: 3;
    height: 12.5rem; /* 20vh */
  }

  .item-6 {
    grid-row: 8;
    height: 18.75rem; /* 30vh */
  }

  .item-7 {
    grid-row: 6;
    height: 11.25rem; /* 18vh */
  }

  .item-8 {
    grid-row: 5;
    height: 21.875rem; /* 35vh */
  }

  .item-1,
  .item-2,
  .item-3,
  .item-4,
  .item-5,
  .item-6,
  .item-7,
  .item-8 {
    grid-column: 1;
  }
}
